* {
    font-size: 16px;
    font-family: "Poppins", Helvetica, sans-serif;
}

body {
    color: #191919;
    width: 100%;
    height: 100%;
}

#main-bg {
    height: 100vh;
    width: 100%;
    background: rgb(91, 191, 219);
    background: radial-gradient(circle, rgba(91, 191, 219, 1) 0%, rgba(75, 163, 189, 1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    height: 75px;
}

.calculator {
    height: 100vh;
    width: 100%;
    /*
    background: url(./materials/wave.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    */
}

table {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    padding: 0px;
}


/*General*/

.icon-hvr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pointer {
    cursor: pointer;
}

a,
a:hover {
    color: inherit;
}


/* input:focus,
input:active {
    background: red;
} */


/*colors*/

.red {
    color: #FF0000;
}